<!-- ==================== Mobile Menu Start Here ==================== -->
<div
    class="mobile-menu d-lg-none d-block scroll-sm position-fixed bg-white overflow-y-auto p-4">

    <button type="button"
        class="close-button position-absolute end-0 top-0 me-2 mt-2 rounded-circle d-flex justify-content-center align-items-center text-neutral-900 bg-neutral-200">
        <i class="ph ph-x"></i>
    </button>

    <div class="mobile-menu__inner">
        <a href="index.html" class="mobile-menu__logo">
            <img src="assets/images/logo/logo.png" alt="Logo">
        </a>
        <div class="mobile-menu__menu">
            @@include('../partials/_nav-menu.html', {
            "class" : "nav-menu--mobile d-block"
            })
        </div>
    </div>
</div>
<!-- ==================== Mobile Menu End Here ==================== -->