<!-- Nav menu Start -->
<ul class="nav-menu d-lg-flex align-items-center @@class">
  <li class="nav-menu__item has-submenu activePage">
    <a href="javascript:void(0)" class="nav-menu__link">Home</a>

    @@include('../partials/_mega-menu.html')
  </li>
  <li class="nav-menu__item has-submenu position-relative">
    <a href="javascript:void(0)" class="nav-menu__link">Pages</a>
    <ul class="nav-submenu scroll-sm position-absolute start-0 top-100 bg-white overflow-hidden p-2">
      <li class="nav-submenu__item d-block position-relative">
        <a href="#" class="nav-submenu__link fw-medium d-flex py-2 px-3">
          Property</a>
      </li>
      <li class="nav-submenu__item d-block position-relative">
        <a href="#" class="nav-submenu__link fw-medium d-flex py-2 px-3">
          About Us</a>
      </li>
      <li class="nav-submenu__item d-block position-relative">
        <a href="#" class="nav-submenu__link fw-medium d-flex py-2 px-3">
          FAQ</a>
      </li>
    </ul>
  </li>
  <li class="nav-menu__item has-submenu position-relative">
    <a href="javascript:void(0)" class="nav-menu__link">Project</a>
    <ul class="nav-submenu scroll-sm position-absolute start-0 top-100 bg-white overflow-hidden p-2">
      <li class="nav-submenu__item d-block position-relative">
        <a href="#" class="nav-submenu__link fw-medium d-flex py-2 px-3">
          Project
        </a>
      </li>
      <li class="nav-submenu__item d-block position-relative">
        <a href="#" class="nav-submenu__link fw-medium d-flex py-2 px-3">Project
          Details</a>
      </li>
    </ul>
  </li>
  <li class="nav-menu__item has-submenu position-relative">
    <a href="javascript:void(0)" class="nav-menu__link">Blog</a>
    <ul class="nav-submenu scroll-sm position-absolute start-0 top-100 bg-white overflow-hidden p-2">
      <li class="nav-submenu__item d-block position-relative">
        <a href="#" class="nav-submenu__link fw-medium d-flex py-2 px-3">
          Blog Classic</a>
      </li>
      <li class="nav-submenu__item d-block position-relative">
        <a href="#" class="nav-submenu__link fw-medium d-flex py-2 px-3">
          Blog Details</a>
      </li>
    </ul>
  </li>
  <li class="nav-menu__item">
    <a href="#" class="nav-menu__link text-heading tw-py-9 fw-medium w-100">Contact</a>
  </li>
</ul>
<!-- Nav menu End  -->