<!-- ========================== Settings Panel start ==================================== -->
<div class="settings-panel position-fixed top-50 translate-middle-y d-flex align-items-center">
  <button type="button" class="settings-button d-flex justify-content-center align-items-center">
    <i class="ph-fill ph-gear-six setting-icon animation-rotate"></i>
    <i class="ph-bold ph-x close-icon"></i>
  </button>

  <div class="settings-panel__content bg-white px-4 d-flex flex-column scroll-sm overflow-y-auto">
    <div class="">
      <h2 class="h6 settings-panel__title text-center mb-4 text-uppercase">
        Cursor
      </h2>
      <div class="settings-panel__buttons cursor__buttons d-flex gap-3">
        <button type="button"
          class="settings-panel__button cursor-animatetext-white py-3 px-3 fw-medium flex-grow-1 active">
          Animate
        </button>
        <button type="button" class="settings-panel__button cursor-defaulttext-white py-3 px-3 fw-medium flex-grow-1">
          Default
        </button>
      </div>
    </div>
    <div class="">
      <h2 class="h6 settings-panel__title text-center mb-4 text-uppercase">
        Direction
      </h2>
      <div class="settings-panel__buttons d-flex gap-3">
        <button type="button" class="settings-panel__button direction-ltr py-3 px-3 fw-medium flex-grow-1 active">
          LTR
        </button>
        <button type="button" class="settings-panel__button direction-rtl py-3 px-3 fw-medium flex-grow-1">
          RTL
        </button>
      </div>
    </div>
  </div>
</div>
<!-- ========================== Settings Panel end ==================================== -->