/* ========================== Settings panel css start =========================== */
.settings-button {
  width: 48px;
  height: 48px;
  background-color: var(--main-600);
  transition: .2s;
  color: #fff;
}

.setting-icon,
.close-icon {
  font-size: 24px;
  line-height: normal;
  width: 24px;
  height: 24px;
}


.settings-button {
  pointer-events: all;

  .close-icon {
    display: none;
  }

  &.active {
    .setting-icon {
      display: none;
    }

    .close-icon {
      display: block;
    }
  }
}

.settings-panel {
  inset-inline-end: -280px;
  pointer-events: none;
  transition: 0.3s;
  z-index: 9999;

  &.active {
    inset-inline-end: 0px !important;

    .settings-panel {
      &__content {
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
      }
    }
  }

  &__content {
    pointer-events: all;
    width: 280px;
    max-height: 100vh;
    overflow-y: auto;
    transition: inherit;
  }

  &__button {
    &.active {
      background-color: var(--main-600) !important;
    }
  }
}

.settings-panel__button {
  background-color: var(--main-50);
  color: var(--main-600);
  transition: .5s;
  &:hover {
    background-color: var(--main-100);
  }
}

.settings-panel__button.active {
  color: #fff;
}

.settings-panel__content {
  padding-block: 52px;
  padding-inline: 24px;
  gap: 40px;
}

.remove-animate-cursor {

  .cursor,
  .dot {
    display: none;
  }
}

.animation-rotate {
  animation: animationRotate 2s linear infinite;
}

@keyframes animationRotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* ========================== Settings panel css end =========================== */